# Ignore everything by default
*

# Allow the .gitignore file itself
!.gitignore

# Allow traversing ONLY top-level directories (e.g. ./authelia, ./traefik)
# The matching */ only matches directories in the root.
!*/

# Inside those top-level directories, ONLY allow docker-compose files
!/*/docker-compose.yml
!/*/docker-compose.yaml

