# Ignore everything
*

# Allow .gitignore
!.gitignore

# But descend into immediate directories ONLY
!/*/

# Unignore docker-compose.yml in immediate subdirectories
!/*/docker-compose.yml
!/*/docker-compose.yaml

# Allow the update script
!update-all-compose.sh

